<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Receipe book</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recipes">Recepies</a> </li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"
            appDropdown>
          <a style="cursor: pointer;"
             class="dropdown-toggle" role="button">Manage <span class="caret"></span> </a>
          <ul class="dropdown-menu">
            <li style="cursor: pointer;">Save Data</li>
            <li style="cursor: pointer;">Fetch Data</li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
