<div class="row">
  <div class="col-md-12">
    <img
      [src]="recipe.imapePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      style="max-height: 200px"
    >
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1 [textContent]="recipe.name">Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-row-12">
    <div appDropdown
         class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">Shopping List</a></li>
        <li><a style="cursor: pointer;" (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a style="cursor: pointer;">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div [textContent]="recipe.desription" class="col-xs-12">
    Desc...
  </div>
</div>
<div class="row">
  <ul class="list-group">
    <li
      *ngFor="let ingridient of recipe.ingridients"
      class="list-group-item">
      {{ingridient.name}} {{ingridient.amount}}
    </li>
  </ul>
</div>
