<div class="row">
  <div class="col-cs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a
        *ngFor="let ingridient of ingridients"
        class="list-group-item"
        style="cursor: pointer">
        {{ingridient.name}} ({{ingridient.amount}})
      </a>
    </ul>
  </div>
</div>
