
<div class="row">
  <div class="col-md-5">
    <app-recipe-list
      (recipeSelected)="selectedRecipe = $event">
    </app-recipe-list>
  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>
</div>
