
<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="col-xs-6">
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
