<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            #ingridientName>
        </div>
        <div class="sol-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="text"
            id="amount" c
            lass="form-control"
            #ingridientAmount>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn btn-success" type="submit" (click)="onAddItem()">Add</div>
          <div class="btn btn-danger" type="button">Delete</div>
          <div class="btn btn-primary" type="button">Clear</div>
        </div>
      </div>
    </form>
  </div>
</div>
